$font-family-base: 'Poppins', sans-serif;

/* geral */
$bg-site: #fbfbfb;
$primary-color: #b02721;

/* font */
$color-link: #281c1c;
$color-link-active: #b02721;
$color-link-focus: $color-link-active;
