@import '../assets/scss/variables';
@import '../assets/scss/mixins';

/* BEGIN topo */
.topo {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;

  @include media-queries('tablet', max) {
    bottom: 0;
    top: auto;
  }
}
.topo-navbar {
  padding: 17px 30px;
}

.topo-avatar {
  width: 40px;
  height: 40px;
}

.topo-avatar-link {
  padding-top: 0;
  padding-bottom: 0;
}

/* menu */
.topo-menu {
  .topo-menu-item {
    .topo-menu-link {
      padding-left: 15px;
      padding-right: 15px;
    }
  }

  .topo-menu-item:first-child {
    .topo-menu-link {
      padding-left: 0;
    }
  }

  .topo-menu-item:last-child {
    .topo-menu-link {
      padding-right: 0;
    }
  }
}

.topo-menu-item {
  &.active {
    .topo-menu-link {
      color: $color-link-active;
    }
  }
}

.topo-menu-link {
  color: $color-link;
  font-size: 16px;

  &:hover,
  &:focus {
    color: $color-link-active;
  }
}

/* END topo */
