<header class="topo">
  <nav class="navbar topo-navbar navbar-expand-lg">
    <a class="navbar-brand" href="#">
      <img class="topo-logo" src="assets/images/logo.png">
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <!-- BEGIN menu topo -->
      <ul class="navbar-nav ml-auto topo-menu">
        <li class="nav-item topo-menu-item active">
          <a class="nav-link topo-menu-link" href="#">Explorar</a>
        </li>
        <li class="nav-item topo-menu-item">
          <a class="nav-link topo-menu-link" href="#">Grupos</a>
        </li>
        <li class="nav-item topo-menu-item">
          <a class="nav-link topo-menu-link" href="#">Favoritos</a>
        </li>
        <li class="nav-item topo-menu-item">
          <a class="nav-link topo-menu-link topo-avatar-link" href="#">
            <img class="topo-avatar" src="assets/images/avatar.png">
          </a>
        </li>
      </ul>
      <!-- END menu topo -->
    </div>
  </nav>
</header>
