<section class="search container">
  <div class="search-box">
    <div class="row">
      <div class="col-8">
        <h2 class="search-box-title">A sua sala de cinema.</h2>

        <h3 class="search-box-subtitle">
          Assista aos melhores filmes de graça.
        </h3>

        <div class="has-icon-fixed has-icon-left">
          <input class="form-control search-box-input has-icon-input" type="text" name="" placeholder="Procurar filme...">
          <i class="icon icon-search search-box-input-icon"></i>
        </div>
      </div>
      <div class="col-4">
        <img class="search-box-featured" src="assets/images/pipoca.png">
      </div>
    </div>
  </div>
</section>
